parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Modules/*/tests/*
    ignoreErrors:
        - '#Call to an undefined static method.*::find\(\)#'
        - '#Call to an undefined static method.*::create\(\)#'
        - '#Call to an undefined static method.*::where\(\)#'
        - '#Call to an undefined static method.*::paginate\(\)#'
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
